.Password {
	input[type="password"],
	input[type="text"] {
		width: 100%;
		padding-left: 1.5rem;
	}
	position: relative;
	width: 100%;
	img {
		position: absolute;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-50%);
		cursor: pointer;
	}
}
