.Menu {
	display: grid;
	gap: 2rem;
	grid-template-rows: min-content min-content 1fr min-content;
	button {
		width: 100%;
		border: none;
		border-radius: 10px;
		background: var(--bg-100);
		color: var(--font-200);
		box-shadow: none;
		font-family: Urbanist;
		justify-content: space-between;
	}
	div {
		border-radius: 10px;
		background: var(--bg-100);
	}
}

.Faq {
	height: 100%;
	overflow-y: scroll;

	h1,
	details {
		margin-bottom: 1rem;
	}
}
