.TranscactionsStats {
	display: flex;
	gap: 3vw;
	a {
		color: var(--font-200);
		width: 100%;
	}
}

.BudgetCard {
	padding-right: 2vw;
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	align-items: center;
	gap: 2vh;
	background-color: var(--bg-100);
	border-radius: 40px;
	width: 100%;
	img {
		border-radius: 50%;
		padding: 2vw;
		grid-column: 1/2;
	}
	p {
		font-size: 0.9rem;
		font-variation-settings: "wght" 400;
		padding-bottom: 0.5rem;
	}
	h4,
	p {
		grid-column: 2 / 3;
	}
	button {
		all: unset;
		cursor: pointer;
	}
}

dialog:modal {
	border: none;
	border-radius: 10px;
	padding: 4vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		button {
			padding: 0.3rem 0.6rem;
			border-radius: 5px;
			// background: var(--bg-100);
			width: 100%;
			color: white;
			text-align: center;
		}
		img {
			padding: 0;
			border-radius: 50%;
			background: transparent;
		}
		input[type="number"] {
			background: var(--bg-100);
			border-radius: 30px;
			padding: 0.5rem;
			border: none;
			text-align: center;
			font-size: 1.1rem;
		}
		div {
			display: flex;
			justify-content: space-between;
			gap: 0.5rem;
		}
	}
}
dialog::backdrop {
	backdrop-filter: blur(2px);
}
