.Toggle {
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	background: var(--bg-100);
	padding: 1vh 2vw;
	gap: 0.5rem;

	input {
		all: unset;
		position: absolute;
		&:checked + label[for="expense"] {
			background: var(--secondary-col);
			color: var(--white);
			font-variation-settings: "wght" 600;
		}
	}

	input {
		all: unset;
		position: absolute;
		&:checked + label {
			color: var(--white);
			font-variation-settings: "wght" 600;
			background: var(--primary-col);
		}
	}
	label {
		width: 100%;
		padding: 0.5rem 1rem;
		border-radius: 10px;
		background: var(--bg-100);
		text-align: center;
		color: var(--font-200);
		font-size: 1rem;
	}
}
