.TransactionElement {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 5vw;
	scroll-snap-align: start;

	.TransactionEmoji {
		display: grid;
		place-content: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		h3 {
			font-size: 1.3rem;
			margin: 0;
		}
	}

	.TransactionDetails {
		margin-left: 10px;
		.DateTime {
			display: flex;
			p {
				margin-right: 10px;
				font-weight: 400;
			}
		}
	}
}

// colors representing income or expense
.negative {
	margin-left: auto;
	font-size: 1rem;
	background: var(--secondary-col);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-variation-settings: "wght" 700;
}

.positive {
	margin-left: auto;
	background: var(--primary-col);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1rem;
	font-variation-settings: "wght" 700;
}
